@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --font-sans: 'Public Sans', sans-serif;
}

.dark {
    --ui-bg: rgba(0, 0, 0, 0.7);
    --ui-bg-muted: rgba(0, 0, 0, 0.3);
    --ui-bg-elevated: rgba(0, 0, 0, 0.3);
    --ui-bg-accented: rgba(0, 0, 0, 0.3);
}

/* Ensures ContentSearch dialog has a black background in dark mode, overriding the default styles */
body > div[data-slot="content"][role="dialog"] {
    background-color: #000000 !important;
}

/* Ensure tooltips render above the header */
[data-reka-popper-content-wrapper] {
    z-index: 9999 !important;
}
